.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &__container {
    background-color: #1a1a1d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      min-height: 100px;
      min-width: 300px;
      background-color: #ffffff;
      text-align: center;
      border-radius: 10px;
      padding: 20px;
      @media screen and (max-width: 768px) {
        min-width: 75%;
        padding: 10px;
      }
      > p {
        font-size: 20px;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }

        > span {
          color: #950740;
        }
      }
    }
  }
}
